
<%= form_with(model: @real_estate, local: true) do |form| %>
  <div class="realestate_name">
    <%= form.label :物件名 %><BR>
    <%= form.text_field :name %>
  </div>
  <div class="realestate_rent">
    <%= form.label :賃料 %><BR>
    <%= form.text_field :rent %>円
  </div>
  <div class="realestate_address">
  <%= form.label :住所 %><BR>
  <%= form.text_field :address %>
</div>
<div class="realestate_age">
<%= form.label :築年数 %><BR>
<%= form.number_field :age %>年
</div>
<div class="realestate_note">
<%= form.label :備考 %><BR>
<%= form.text_area :note %>
</div>
  <%= form.submit %>
<% end %>